table {
  width: 10%;
}

::ng-deep .mat-mdc-form-field label {
  font-size: 14px !important;
}

.mat-column-actions {
  width: 60px;
  text-align: center;
}

.btn-actions-menu {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;

  /* Alinhamento flex */
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  cursor: pointer !important;
  border-radius: 50% !important;
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
}

/* Efeito sutil ao passar o mouse em qualquer ícone da coluna */
.btn-actions-menu:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

/* Deixa o ícone de dentro menor para não carregar o visual */
.btn-actions-menu mat-icon {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;

  /* Garante que o ícone não tenha margens próprias */
    margin: 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
