mat-toolbar {
  background-color: rgba(0, 106, 106, 0.65);
  border-radius: 16px 16px 0 0 ;
  color: white;
}

mat-card {
  max-width: 600px;
  width: 95%;
  margin: 2em auto;
  text-align: center;
}

mat-card-content {
  padding-top: 20px; // Espaçamento entre o título e os campos
}

mat-card-actions {
  display: flex;
  justify-content: center; // Centraliza horizontalmente
  gap:16px;               // Adiciona um espaço entre os botões
  padding: 16px;          // Garante um respiro no final do card
}

.min-width {
  width: 100%;
  min-width: 150px;
}

form {
  display: flex;
  flex-direction: column; // Coloca um embaixo do outro
  gap: 10px;

  mat-form-field {
    width: 100%; margin-bottom: 10px;
  }
}

// Media Query para ajustes finos em telas muito pequenas
@media (max-width: 480px) {
  mat-card {
    margin: 1em auto;
    width: 100%; // Ocupa tudo no celular
    border-radius: 0; // Opcional: remove arredondamento nas bordas da tela
  }

  .contact-toolbar {
  border-radius: 4px;
  margin: 20px 0 10px 0;
  height: 48px !important; // Deixa mais slim
  font-size: 16px;
}

.contact-row {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.full-width {
  flex: 1;
}

  mat-toolbar {
    border-radius: 0;
  }
}
