<mat-card>

  <mat-toolbar>
    <span>Cadastro de Parceiros </span>
  </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">

      <mat-form-field appearance="outline">
        <mat-label>Position</mat-label>
        <input matInput placeholder="Ex: 1" formControlName="position">
      </mat-form-field>

      <mat-form-field appearance="outline" hintLabel="Max. 40 caracteres">
        <mat-label>Name</mat-label>
        <input matInput #input maxlength="40" placeholder="Ex: Parceiro A" formControlName="name"
          (input)="onInput($event)">
        <mat-hint align="end">{{value().length}}/40</mat-hint>
        @if (form.get('name')?.invalid) {
        <mat-error>{{formUtils.getErrorMessage(form, 'name')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Weight</mat-label>
        <input matInput placeholder="Ex: 70.73" formControlName="weight">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Symbol</mat-label>
        <input matInput #input maxlength="2" placeholder="Ex: Sy" formControlName="symbol">
        @if (form.get('symbol')?.invalid) {
        <mat-error>{{ formUtils.getErrorMessage(form, 'symbol') }}</mat-error>
        }
      </mat-form-field>

      <mat-toolbar color="primary" class="contact-toolbar">
        <span>Contatos</span>
        <button mat-icon-button (click)="addContato()" type="button">
          <mat-icon aria-label="Adicionar um novo contato">add</mat-icon>
          </button>
      </mat-toolbar>

      <div formArrayName="contatos">
        @for (contatoForm of getContatosFormArray().controls; track contatoForm; let i = $index) {
          <div [formGroupName]="i" class="contact-row"
          style="display: flex; gap: 10px; align-items: flex-start;">

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nome do Contato</mat-label>
              <input matInput formControlName="nomecontato" placeholder="Ex: João">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Telefone</mat-label>
              <input matInput formControlName="telefone" placeholder="Ex: 55 55555555">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="Ex: seuemail@suaempresa.com">

              @if (contatoForm.get('email')?.hasError('email')) {
                    <mat-error>Favor insira um email válido!

                    </mat-error>
                  }
            </mat-form-field>

            <button mat-icon-button color="warn" (click)="removeContato(i)" type="button" style="margin-top: 10px;">
              <mat-icon aria-label="Remover um novo contato">delete</mat-icon>
            </button>
          </div>
        } @empty {
            <p style="text-align: center; padding: 10px; color: gray;">
              Nenhum contato adicionado. Clique no (+) para incluir.
            </p>
          }
      </div>

    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button (click)="onSave()">Salvar</button>
    <button mat-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
