@charset "UTF-8";


mat-card {
  margin: 15px;
  padding: 10px;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.load-spinner {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
