<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <p>
    Tem certeza que deseja {{ data.message }} <strong>{{ data.name }}</strong> ?
  </p>

  @if (data.showWarning !== false) {
  <p class="warning-text">
    {{ data.warningText || 'Esta ação não pode ser desfeita.' }}
  </p>}
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onConfirm(false)">
    Cancelar
  </button>
  <button
    mat-raised-button
    [color]="data.confirmColoer || 'warn'"
    (click)="onConfirm(true)">
    Sim, {{ data.confirmText }}
  </button>
</mat-dialog-actions>
